body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

/*============= COMMON =============*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*============= /COMMON =============*/

/*============= HEADER STYLES =============*/

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu,
.header-address {
  display: none;
}

.logo-link-header {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  /* margin-right: 76px; */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-raleway-navyblue {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .logo-link-header {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    color: #404bbf;
  }

  .menu-link-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link-studio:hover,
  .menu-link-studio:focus,
  .menu-link-studio:active {
    color: #404bbf;
  }

  .menu-link-studio::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .header-address {
    display: block;
    font-style: normal;
  }
  .header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
    gap: 12px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    color: #434455;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus,
  .contact-link:active {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-link-header {
    margin-right: 76px;
  }
  .header-contacts {
    flex-direction: row;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*============= MOB MENU =============*/

.mob-menu {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-container {
  position: relative;
  padding: 72px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover,
.menu-close:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.mob-menu-nav {
  margin-bottom: auto;
}

.mob-menu-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item.studio {
  color: #404bbf;
}

.mob-menu-item:hover,
.mob-menu-item:focus {
  color: #404bbf;
}

.mob-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-menu-contact-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-contact-link:hover,
.mob-menu-contact-link:focus,
.mob-menu-contact-link:active {
  color: #404bbf;
}

.mob-menu-contact-link.tel {
  color: #4d5ae5;
}

.mob-menu-footer-icon-list {
  display: flex;
  justify-content: space-between;
}

.mob-menu-footer-icon-item {
  width: 40px;
  height: 40px;
}

.mob-menu-footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

/*============= /MOB MENU =============*/

/*============= TOP STYLES =============*/
.section-top {
  display: flex;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Mob/mob-bg.png);
  background-size: cover;
}

.top-title {
  width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
}

.order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus,
.order-button:active {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) {
  .section-top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Mob/mob-bg@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .section-top {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Tablet/tab-bg.png);
  }

  .top-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Tablet/tab-bg@2x.png);
  }
}

@media screen and (min-width: 1158px) {
  .section-top {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg.jpg);
  }

  .top-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg@2x.png);
  }
}
/*============= /TOP STYLES =============*/

/*============= ADV STYLES =============*/

.section-adv {
  padding: 91px 0;
}

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.adv-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.adv-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adv-item-icon-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-adv {
    padding: 96px 0;
  }

  .adv-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .adv-item {
    width: calc((100% - 24px) / 2);
  }

  .adv-name {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section-adv {
    padding: 120px 140px;
  }

  .adv-item {
    width: calc((100% - 72px) / 4);
  }
  .adv-item-icon-wrapper {
    display: block;
    margin-bottom: 8px;
  }
  .adv-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
  .adv-item {
    font-weight: 400;
  }
  .adv-item-icon-wrapper {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

/*============= /ADV STYLES =============*/

/*============= TEAM STYLES =============*/
.section-team {
  padding: 96px 12px;
  margin: 0 auto;
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.team-descr {
  padding: 32px 16px;
}
.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-member {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: calc((100% - 160px) / 3);
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus,
.team-icon-link:active {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-team {
    padding: 96px 92px;
    max-width: 768px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0px;
    max-width: 1158px;
  }
  .team-list {
    flex-direction: row;
    column-gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/*============= /TEAM STYLES =============*/

/*============= PORTF STYLES =============*/
.section-portf {
  padding: 92px 0;
}

.portf-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portf-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portf-item {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portf-underline {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  max-width: 100%;
}
.portf-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portf-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-portf {
    padding: 96px 0;
  }

  .portf-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portf-item {
    max-width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0px;
  }

  .portf-list {
    row-gap: 48px;
  }

  .portf-item {
    max-width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portf-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/*============= /PORTF STYLES =============*/

/*============= FOOTER STYLES =============*/
.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.logo-link-footer {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-raleway-cloud {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-media {
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 208px;
}

.text-social-media {
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-label {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-email {
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.footer-email::placeholder {
  opacity: 0.6;
  color: #ffffff;
}

.footer-subscr-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  text-align: start;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

.icon-send {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 96px 108px;
  }

  .footer-flex {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    max-width: 528px;
  }
  .page-footer-container {
    max-width: 264px;
  }

  .logo-link-footer {
    justify-content: left;
  }

  .text-social-media {
    text-align: left;
  }

  .footer-subscribe-label {
    text-align: left;
  }

  .footer-email {
    margin-bottom: 0;
  }

  .footer-subscr-wrapper {
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-flex {
    flex-direction: row;
    align-items: baseline;
    max-width: 1125px;
  }
  .footer-email {
    width: 264px;
    opacity: 1;
  }
  .footer-email::placeholder {
    opacity: 1;
  }
}

/*============= /FOOTER STYLES =============*/

/*============= MODAL WINDOW STYLES =============*/
.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cta {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-fild-wrapper {
  margin-bottom: 8px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.modal-field-label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.field-icon-input-wrapper {
  position: relative;
}

.form-field {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  border-color: #4d5ae5;
}

.form-field:focus + .field-icon {
  fill: #4d5ae5;
}

.field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fild-textarea-wrapper {
  margin-bottom: 16px;
}

.modal-field-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox-wrapper {
  margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-checkbox:checked + .modal-field-label > .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.form-field-checkbox:focus + .modal-field-label > .custom-checkbox {
  outline: 1px solid #4d5ae5;
}

.privacy-policy {
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

/*============= /MODAL WINDOW STYLES =============*/
